{% extends "cle/pageref.html"%}
{% block contenu_page %}
<h3>Date: {% block date%}{{date_jour}}{%endblock %}</h3>
<hr>
<p class="im"><img src="static/images/Image1.jpg"></p><br>
<h4><font size="+3">Les Mustélidés</font></h4>
<p>
	Les mustélidés sont une famille de mammifères de l'ordre des <span style="color:#05C80E">Carnivora</span>. Cette famille a été décrite pour la première fois en 1817 par le naturaliste Gotthelf Fischer von Waldheim. Il y a <span style="color:#05C80E">55 espèces</span> répartis en <span style="color:#05C80E">22 genres</span>.<br>
	<h4>Description</h4>
	Il ya beaucoup de diversité morphologique entre les espèces mais certaines caractéristiques restent communes. Ils présentent <span style="color:#05C80E">un corps long avec des pattes courtes, des oreilles pour la plupart rondes et une épaisse fourrure</span>. Leur taille et poids varient beaucoup. En effet, ils peuvent mesurer une dizaine de centimètres et peser de 40 à 350 grammes pour la cas de la Belette d'Europe par exemple et jusqu'a plus d'1 mêtre pesant dans les 40 kilos pour la Loutre de mer. Les griffes ne sont pas rétractiles et peuvent être particulièrement robustes chez les espèces fouisseuses. Ils possèdent des <span style="color:#05C80E">glandes sécrétrices</span> développées (de chaque côté de l'anus) qui peuvent dégager une odeur musquée en cas d'attaque car ils sont prédatés par des carnivores plus gros qu'eux.<br>
	<h4>Habitat</h4>
	On retrouve des espèces de cette famille sur <span style="color:#05C80E">tous les continents</span>. A l'exception de l'Antarctique, l'Australie mais également à Madagascar ainsi que dans les îles océaniennes. Ils ont néanmoins été introduits en Nouvelle-Zélande. Il y a une grande diversité des habitat (milieux terrestres, aquatiques et marins).<br>
	Les mustélides sont principalement carnivores. Ils sont <span style="color:#05C80E">opportunistes</span>, ils peuvent se nourir de petits rougeurs, chasser des proies dans terriers, manger du poisson, des invertébrés. <br>
	<h4>Comportement</h4>
	Ce sont des animaux <span style="color:#05C80E">sociaux ou solitaires</span>. La plupart des mustélidés se reproduisent de façon saisonnière, mais la longueur de la période de reproduction varie selon les espèces. Les mustélidés sont <span style="color:#05C80E">nidicoles</span>, les femelles défendent leur territoire pour acquérir suffisamment de ressources pour s'occuper de leur progéniture et de protéger leur terrier. Ils vivent généralement entre 5 et 20 ans à l'état sauvage.<br>
	<h4>Information</h4>
	Les mustélidés permettent <span style="color:#05C80E">la régulation des populations</span> de proies comme les rongeurs considéré comme nuisible. Cepandant, ils peuvent menacer des espèces d'oiseaux rares.<br>
	Certaines espèces de mustélidés ont <span style="color:#05C80E">mauvaises réputation</span> et sont considérées comme nuisible.<br>
	La <span style="color:#05C80E">destruction des habitats</span> est un très gros problème pour les espèces qui avaient déjà un habitat restreint comme la martre.<br>
	De nombreux programmes de réintroduction de diverses espèces de mustélidés ont rencontré un succès mitigé. Le putois à pieds noirs est considéré comme éteint à l'état sauvage, bien que plusieurs programmes de réintroduction soient en cours.
	<h4>Classification</h4>
	<table align="center">
		<tr>
			<th>Règne </th>
			<th>Embranchement </th>
			<th>Sous-embranchement </th>
			<th>Classe </th>
			<th>Infra-classe </th>
			<th>Sous-classe </th>
			<th>Ordre</th>
			<th>Sous-ordre </th>
			<th>Famille </th>
		</tr>
		<tr>
			<td>Animalia</td>
			<td>Chordata</td>
			<td>Vertebrata</td>
			<td>Mammalia</td>
			<td>Theria</td>
			<td>Eutheria</td>
			<td>Carnivora</td>
			<td>Caniformia</td>
			<td>Mustelidae</td>
		</tr>
	</table>
</p>
{% endblock%}