{% extends "cle/pageref.html"%}
{% block contenu_page %}

<script>
	var currentCaractereNumber = [];


	function AddCaractereInput ()
	{
		var i = 0;
		while (currentCaractereNumber.indexOf(i) >= 0)
			i++;
		currentCaractereNumber.push(i);
		var extendable_form = document.getElementById('myForm')
		var tag = document.createElement("p");
		tag.id = 'id' + i;
		var caractere = '<p> Texte ' + i + ' : </p> <input type="text" name="Mail"> \
			<button type="button" onclick="RmCurrentCaractereInput(\'id' + i + '\')" >Suppress</button>'
		// var caractere = '<p> Texte : </p> <input type="text" name="Mail"> \
		// <button type="button"  >Plus</button>'
		
		tag.innerHTML = caractere;
		// extendable_form.appendChild(tag)
		extendable_form.insertBefore(tag, document.getElementById("AddInput"));
		console.log(currentCaractereNumber.toString());

		

	}

	function RmCurrentCaractereInput(id)
	{
		console.log(currentCaractereNumber.toString());
		console.log('slice : "' + id.slice(2) + '"' );
		console.log('index of :' + currentCaractereNumber.indexOf(parseInt(id.slice(2))))
		var extendable_form = document.getElementById('myForm')
		var inputButton = document.getElementById(id)
		extendable_form.removeChild(inputButton);
		currentCaractereNumber.splice(currentCaractereNumber.indexOf(parseInt(id.slice(2))), 1);
		console.log(currentCaractereNumber.toString());
		
	}
</script>

<h4><font size="+3">Ajouter une clé</font></h4>
<hr>
<p> Bienvenue M. ....</p>

{% if request.user.is_authenticated%}
	<form id="myForm" align="center" action="" method="post">
		{% csrf_token %}
		Nom Espece :<br>
		<input type="text" name="Nomdefamille">
		<br>
		Nom Latin :<br>
		<input type="text" name="Prenom">
		<br>
		Description :<br>
		<textarea name="textarea"
		rows="10" cols="30" placeholder="Description de l'espece."></textarea> 
		
		{% for i in range %}
		<p> Texte : </p>
		<input type="text" name="Mail">
		<br>
		{% endfor %}
		<br>
		<button type="button" onclick="AddCaractereInput()" id="AddInput">Plus</button>
		<!-- <button type="button" onclick="AddCaractereInput()" id="RmInput">Remove Last</button> -->
		<button type="submit" onclick="alert('Merci pour votre participation ! ')">VALIDER</button>
	</form>
	<hr>
	<div id="out">
		<a href="{% url 'logout' %}"><img src="static/images/logout.png" height="50" width="50"></a>
	</div>
{% endif%}
{% endblock%}